<h1>Other algorithm resources</h1>
<ul>
    <li><a href="https://www.amazon.com/Algorithm-Design-Kleinberg-published-Addison-Wesley/dp/B00E31S1LW/ref=sr_1_10?s=books&ie=UTF8&qid=1516546594&sr=1-10&keywords=Algorithm+Design">Required text: Algorithm Design (Kleinberg & Tardos)</a></li>
    <li><a href="http://www.cs.princeton.edu/~wayne/kleinberg-tardos/">Slides for K&T</a></li>
        <li><a href="http://www.cse.iitd.ernet.in/~naveen/courses/CSL630/all.pdf">PDF: Algorithms (Dasgupta et al.)</a></li>
    <li><a href="http://www.algorist.com/">Algorithm Design Manual (Skiena)</a></li>
    <li><a href="https://mitpress.mit.edu/books/introduction-algorithms">Indroduction to Algorithms (CLRS)</a></li>
</ul>
